
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası View Sayfasıdır</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Bölüm</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Beytullah</td>
        <td>Bilgi İşlem</td>
    </tr>
</table>